$breakpoint-mobile: 480px;


.graph-wrapper {
    border-radius: 4px;
    background-color: #c5eaed;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
    @media (max-width: $breakpoint-mobile) {
        width: 90%;
        margin:  8px 0 8px 0;
        padding: 8px 0 8px 0;
    }
}

.column-wrapper {
    height: 60px;
    width: 90%;
    display: flex; 
    align-items: flex-end;
}

.column {
    width: 100%;
    margin: 0 12px 0 12px;
}