$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

.main-wrapper {
    overflow-x: hidden;
    padding: 20px;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: $breakpoint-mobile) {
        width: 106%;
        margin-left: -3%;
    }
    @media (min-width: $breakpoint-tablet) {
        width: 104%;
        margin-left: -2%;
    }
}